<html>
    <body>
        <h2>Edit Menu Item</h2>
        <form method='POST' enctype='multipart/form-data' action='/restaurants/{{restaurant_id}}/menu/{{menu_id}}/editRestaurantMenu/'>
            <a></br>Name: </a><input name='MenuItemName' size=30 type='text' value = '{{item.name}}'>
            <a></br>Price: </a><input name='MenuItemPrice' type='text' value = {{item.price}}>
            <a></br>Description: </a><input name='MenuItemDesc' type='text' value = '{{item.description}}'>
            <a></br>Course: </a><input name='MenuItemCourse' type='text' value = {{item.course}}>
            </br>
            <input type='submit' value='Update'> 
            <a href='{{ url_for('restaurantMenu', restaurant_id=restaurant_id) }}'>Cancel</a>
        </form>
    </body>
</html>