<html>
    <head>
        <title>Add New Restaurant</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='modifyRestaurant.css') }}">
    </head>
    <body>
        <div class = "header">
            <a>Edit Restaurant</a>
        </div>
        <br>
        <form class = "name" method='POST' enctype='multipart/form-data' action='/restaurant/{{restaurant_id}}/edit'>
            <a>Name: </a><input name='RestName' type='text' value = '{{item.name}}'>
            <input type='submit' value='Update'> 
            <a class = "link" href='{{ url_for('showRestaurants')}}'>Cancel</a>
        </form>
    </body>
</html>