<html>
    <body>
        <h2>Add New Menu Item</h2>
        <form method='POST' enctype='multipart/form-data' action='/restaurants/{{restaurant_id}}/menu/newRestaurantMenu/'>
            <a></br>Name: </a><input name='newMenuItemName' type='text' placeholder = 'Menu Item Name'>
            <a></br>Price: </a><input name='newMenuItemPrice' type='text' placeholder = 'Menu Item Price'>
            <a></br>Description: </a><input name='newMenuItemDesc' type='text' placeholder = 'Menu Item Description'>
            <a></br>Course: </a><input name='newMenuItemCourse' type='text' placeholder = 'Menu Item Course'>
            </br>
            <input type='submit' value='Create'> 
        </form>
    </body>
</html>