<html>
    <head>
        <title>Add New Restaurant</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='modifyRestaurant.css') }}">
    </head>
    <body>
        <div class = "header">
            <a>Add New Restaurant</a>
        </div>
        <br>
        <form class = "name" method='POST' enctype='multipart/form-data' action='/restaurant/new'>
            <a>Name: </a><input name='newRestName' type='text' placeholder = 'Restaurant Name'>
            <input type='submit' value='Create'> 
            <a class ="link" href='{{ url_for('showRestaurants')}}'>Cancel</a>
        </form>
    </body>
</html>